langchain==1.2.0
langchain-experimental==0.4.1
rank-bm25==0.2.2
underthesea==8.3.0
torch==2.9.1
sentence_transformers==5.2.0
protobuf==6.33.2
sentencepiece==0.2.1
streamlit==1.52.2
python-dotenv==1.2.1
google-genai==1.59.0
py_vncorenlp==0.1.4
pytorch_transformers==1.2.0
tensorboardX==2.6.4
pyrouge==0.1.3